.card {
    margin: .5em;
    flex: 0 0 25%;
    min-height: 10em;
    transition: transform .2s;
  }
  
  .card.card-empty {
    margin: .5em;
    margin-left: 25px;
    flex: 0 0 25%;
    min-height: 345px;
    width: auto;
    transition: transform .2s;
    border: 2px dashed $thumbnail-border;
    position: relative;
    text-align: center;
    justify-content: center;
    opacity: .8;
    padding: .1em;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
  
    div {
  
      span {
        font-size: 2.5em;
      }
  
      h4 {
        margin-top: .3em;
      }
    }
  }
  
  .card.card-footer{
    align-items: center;
    justify-content: center;
  }
  
  p {
    margin: 10px;
  }
  
  .fa.fa-plus-circle {
    height: 40px;
  }